Checks:   >
  -*,
  readability-identifier-naming,
  readability-magic-numbers,
  readability-braces-around-statements

WarningsAsErrors:    >
  readability-identifier-naming,
  readability-magic-numbers,
  readability-braces-around-statements

HeaderFilterRegex:   ''
FormatStyle:         none
InheritParentConfig: true
User:                user
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: SL_
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantPrefix
    value: SL_
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantPrefix
    value: SL_
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.EnumPrefix
    value: sl_
  - key: readability-identifier-naming.FunctionIgnoredRegexp
    value: 'sli_.*'
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.FunctionPrefix
    value: 'sl_'
  - key: readability-identifier-naming.StructCase
    value: lower_case
  - key: readability-identifier-naming.StructPrefix
    value: 'sl_'
  - key: readability-identifier-naming.StructMemberCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.TypedefPrefix
    value: 'sl_'
